<!DOCTYPE html>
<html>
<head>
    <title>Binance Payment Cancellation</title>
    {% load static %}
    <style>
        /* Center the image vertically and horizontally */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* Adjust the size of the image if needed */
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <!-- Displaying the image using the static file -->
    <img src="{% static '/invalid_url.jpg' %}" alt="invalid Image">
    <!-- Replace '/timeout.jpeg' with the path to your actual image file -->
    
    <!-- Additional HTML content can be added here -->
</body>
</html>
