
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Inquiry</title>
</head>

<body style="margin: 0; background: #ececec;">
    <table class="table"
        style=" overflow: hidden; margin:15px auto; font-size: 15px; font-family: Arial; border-collapse: collapse; max-width: 700px; width: 100%; background: #fff; ">
        <tbody>
            <tr>
                <td
                    style="border: none; padding: 15px 15px;  text-align: center; border-bottom: 3px solid #FF1A51;">
                    <!--  background: #04377f; -->
                    <img src="{{logo}}" alt="" style="width: 50px;">
                </td>
            </tr>
            <tr>
                <td style="border: none; padding: 10px 15px;">
                   <div style="width:700px;">
                              <h2 style="text-align: center; font-size: 30px; "> Your Inquiry
                              </h2>
                              <p style="line-height: 23px;">
                                Dear 
                              <b>{{Display_name}},</b>
                              <br>
                              <br>
                              Thank you for asking Question, I'm happy to provide you with the information you requested.
                              </p>
                              <p style="line-height: 23px;"><b>Question :- {{question}} </b></p>
                              <p style="line-height: 23px;"><b>Answer :- {{answer}}</b></p>
                          </div>
                </td>
            </tr>
			
                <td style="border: none; padding:0px 15px;">
                    <p style="line-height: 23px;">If you have any questions or concerns regarding this answer, please don't hesitate to contact our support team.</p>
    
    <p style="line-height: 23px;">Thank you for your prompt attention to this matter.</p>
    
    <p style="line-height: 23px; font-weight: 600;">Best regards,<br>
        VidSocial</p>
                </td>
            </tr>
            
            <tr>
                <td style="border: none; padding: 10px 15px; background: #FF1A51; color: #fff; text-align: center;">

                    All Rights Reserved. Designed by VidSocial. 
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>
