
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Your Password</title>
</head>

<body style="margin: 0; background: #ececec;">
    <table class="table"
        style=" overflow: hidden; margin:15px auto; font-size: 15px; font-family: Arial; border-collapse: collapse; max-width: 700px; width: 100%; background: #fff; ">
        <tbody>
            <tr>
                <td
                    style="border: none; padding: 15px 15px;  text-align: center; border-bottom: 3px solid #FF1A51;">
                    <!--  background: #04377f; -->
                    <img src="{{logo}}" alt="" style="width: 50px;">
                </td>
            </tr>
            <tr>
                <td style="border: none; padding: 10px 15px;">
                   <div style="width:700px;">
                              <p style="line-height: 23px;">
                                Dear 
                              <b>{{display_name}},</b>
                              <br>
                              <br>
                              To reset your VidSocial password, please click on the following link:
                              <br> <a href= {{reset_link }} style="margin-top: 15px; display: inline-block;  border-radius: 4px; padding:8px 10px; background: #FF1A51; color: #fff; text-decoration: none; font-size: 16px; font-weight: 600;">Click here</a>
                              </p>
                          </div>
                </td>
            </tr>
           
			 
          
            <tr>
                <td style="border: none; padding:0px 15px;">
                    <p style="line-height: 23px;">This link will take you to a page where you can create a new password.</p>
    
    <p style="line-height: 23px;">Once you have created a new password, you will be able to log in to your account and start using our products and services again.</p>
    <p style="line-height: 23px;">If you have any problems resetting your password, please contact us at <a href = "contact@vidsocial.net">contact@vidsocial.net</a></p>
    
    <p style="line-height: 23px; font-weight: 600;">
    Sincerely,    <br>
The VidSocial Team
    </p>
                </td>
            </tr>
            
            <tr>
                <td style="border: none; padding: 10px 15px; background: #FF1A51; color: #fff; text-align: center;">

                    All Rights Reserved. Designed by VidSocial. 
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>
