<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Reset Successful</title>
  <style>
     body{
     background: #ececec;
     margin: 0;
     font-family: "Arial";
    }
    .box_d1 {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.box_d2 {
background: #fff;
padding:40px 20px;
max-width: 600px;
width: 100%;
text-align: center;
border-radius: 15px;
box-shadow: 3px 8px 22px rgba(0,0,0,0.1);
}
img{
 max-width: 100%;
 max-height: 100%;
}
p{
  color: #555;
}
  </style>
</head>
<body>
  <div class="box_d1">
    <div class="box_d2">
      <img src="{{logo_url}}" alt="" style="width: 80px;">
    <h1>Password Reset Successful</h1>
    <p>Your password has been successfully reset.</p>
    <!-- <a href="login.html" class="btn">Login</a> -->
  </div>
  </div>
</body>
</html>
